<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      地区版本此处进行了修改

      登出之后的修改
      测试，尝试00002
      然后错了。这是master的同事开始做修改了
      1111111111111111此处没有push
      demo1的用户做了好多修改
      
      新添加了一个demo01的开发人员。
    </system.web>
   
</configuration>
